<h1>Tasks#index</h1>
<ul>
<% @tasks.each do |task| %>
  <% if task.completed? %>
   <li>[X] - <%=task.title %></li>
  <% else %>
  <li>[ ] - <%=task.title %></li>
  <% end %>
  <li> <%= link_to "Go to task", show_path(task) %></li>
<% end %>

</ul>

