<h1><%= @selected_task.title %></h1>
<p class="details"><%= @selected_task.details %></p>
<ul>
  <% if @selected_task.completed? %>
  <li>[X]-This task is completed</li>
    <% else %>
  <li>[ ] - This task is not completed</li>
    <% end %>
</ul>


